@import url('https://fonts.googleapis.com/css?family=Cabin+Sketch|Coustard&display=swap');
body {
  background-color: #4f7696;
}
nav {
  background-color: #223f57;
  padding-right: 100%;
  padding-left: 1000pt;
  margin-top: -23pt;
  margin-left: -1000pt;
  position: fixed;
}
.dropdown {
  display: inline-block;
}
.dropdown:hover {
  background-color: #315b7d;
  padding-right: 26pt;
  padding-left: 10pt;
  margin-left: -10pt;
}
a {
  color: #7d9cb6;
  font-size: 20pt;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #223f57;
}
.dropdown:hover .dropdown-content {
  display: block;
  padding-right: 5pt;
  padding-left: 10pt;
  margin-left: -10pt;
}
.dropdown-item:hover, .dropdown-item:hover a {
  background-color: #315b7d;
  padding-right: 5pt;
  padding-left: 10pt;
  margin-right: -5pt;
  margin-left: -10pt;
}
.profile-pic {
  position: absolute;
  margin-top: 47pt;
  margin-left: 655pt;
}
img {
  border-radius: 100%;
  border: 5pt solid #223f57;
}
.mail {
  position: absolute;
  margin-top: 220pt;
  margin-left: 727pt;
}
.work {
  position: absolute;
  margin-top: 120pt;
  margin-left: 655pt;
}
iframe {
  border-top-right-radius: 25pt;
  border-top-left-radius: 100pt;
  border-bottom-right-radius: 100pt;
  border-bottom-left-radius: 25pt;
  border: 5pt solid #223f57;
}
h1, h2 {

}
.index-top {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 50pt;
  padding-right: 10pt;
  margin-top: 23pt;
  margin-right: 66%;
  margin-bottom: -16pt;
  margin-left: -10pt;
  position: static;
}
.index-middle {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 100pt;
  padding-right: 10pt;
  margin-right: 66%;
  margin-bottom: -15pt;
  margin-left: -10pt;
  position: static;
}
.index-bottom {
  background-color: #7d9cb6;
  font-size: 16pt;
  text-indent: 26pt;
  padding-top: 100pt;
  padding-right: 20pt;
  padding-bottom: 187.5pt;
  padding-left: 20pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
.about-top {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 50pt;
  margin-top: 23pt;
  margin-right: 66%;
  margin-bottom: -16pt;
  margin-left: -10pt;
  position: static;
}
.about-bottom {
  background-color: #7d9cb6;
  font-size: 16pt;
  text-indent: 26pt;
  padding-top: 50pt;
  padding-right: 15pt;
  padding-bottom: 203pt;
  padding-left: 20pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
.contact-form {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 50pt;
  padding-bottom: 1pt;
  margin-top: 23pt;
  margin-right: 66%;
  margin-bottom: -10pt;
  margin-left: -10pt;
  position: static;
}
.contact-table {
  background-color: #7d9cb6;
  font-size: 16pt;
  padding-right: 10pt;
  padding-bottom: 455.5pt;
  padding-left: 176pt;
  margin-top: 10pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
.services-top {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 50pt;
  padding-right: 10pt;
  margin-top: 23pt;
  margin-right: 66%;
  margin-bottom: -16pt;
  margin-left: -10pt;
  position: static;
}
.services-pro {
  background-color: #7d9cb6;
  font-size: 16pt;
  padding-top: 1pt;
  padding-left: 160pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
.services-bottom {
  background-color: #7d9cb6;
  text-align: center;
  padding-top: 50pt;
  padding-right: 10pt;
  margin-top: -16pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
.services-ski {
  background-color: #7d9cb6;
  font-size: 16pt;
  padding-top: 1pt;
  padding-bottom: 254pt;
  padding-left: 160pt;
  margin-top: -16pt;
  margin-right: 66%;
  margin-left: -10pt;
  position: static;
}
