body {
  background-color: #4f7696;
}
nav {
  background-color: #223f57;
}
.index-top {
  background-color: #7d9cb6;
}
.index-middle {
  background-color: #7d9cb6;
}
.index-bottom {
  background-color: #7d9cb6;
}
.about-top {
  background-color: #7d9cb6;
}
.about-bottom {
  background-color: #7d9cb6;
}
.services-top {
  background-color: #7d9cb6;
}
.services-middle {
  background-color: #7d9cb6;
}
.services-bottom {
  background-color: #7d9cb6;
}
.dropdown {
  display: inline-block;
}
.dropdown:hover {
  background-color: #315b7d
}
a {
  color: #7d9cb6;
  font-size: 20pt;
  text-decoration-line: none;
  text-decoration-style: initial;
  text-decoration-color: initial;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #223f57
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-item:hover, .dropdown-item:hover a {
  background-color: #315b7d
}
